.program {
  display: flex;
  flex-direction: column;
  max-width: 48%;

  h3 {
    margin-bottom: 16px;
  }

  p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .program {
    min-width: 100%;
  }
}
